.company {
  @extend %vertical;
}

.company__logo {
  @include medium {
    width: 7.5em;
    height: 7.5em;
  }
  width: 6em;
  height: 6em;
  margin-bottom: rem(8);

  > img {
    width: 100%;
  }
}

.company__info {
  @extend %nav;

  @include small {
    > li {
      display: block;
    }
  }
}

.company__info__item {
  @extend %inline-block;

  margin-inline-end: rem(16);
  margin-bottom: rem(8);

  .i > use {
    fill: $color-light-text;
  }
}

.company__description {
  @extend %vertical-top;
  @extend %vertical-bottom;
  @extend %nice-line-length;
}

.company__sites {
  @extend %vertical-l;

  border-top: solid 1px $color-hr;
}

.company__details {
  @include medium {
    width: 70%;
  }
  max-width: 38em;
}

.company-listing {
  display: block;
  border-bottom: solid 1px $color-keyline;
  padding-bottom: rem(16);
  margin-bottom: rem(16);

  > .media__image {
    width: 80px;
    height: 80px;
    background: $color-placeholder;
  }

  &:hover {
    h3,
    h4 {
      color: $color-base-link;
    }

    .media__image {
      position: relative;

      &::after {
        content: '';
        outline: solid 4px $color-base-link;

        // background-color: $color-base-link;
        position: absolute;
        inset: 0;
      }
    }
  }
}

.company-listing__column {
  // min-width: 320px;
  width: 100%;
}

.company-listing__title {
  @include medium-upto-xlarge {
    margin-top: rem(0);
    line-height: 1.4em;
  }
  margin-top: rem(16);
  margin-bottom: rem(4);
}

.company-listing__location,
.company-listing__site-count {
  @include medium-upto-xlarge {
    line-height: 1.4em;
  }
  color: $color-light-text;
  margin-bottom: rem(4);
  margin-inline-end: rem(0);
}
