@use 'sass:color';

.site-footer {
  @extend %vertical-top-l;
  @extend %vertical-bottom-xl;
  @extend %theme--invert;

  text-align: center;
  background: $color-footer-bg;

  * + h4 {
    margin-top: $spacing;
  }

  .grid > * + * {
    @include small {
      margin-top: $spacing-s;
    }
  }
}

.site-footer-link {
  font-weight: $font-weight-bold;
  color: $color-base-font-invert;

  &:hover {
    color: color.adjust($color-base-link-hover, $lightness: 30%);
  }
}
