// input colours
$input-bg: #fff;
$input-color: $color-base-font;
$input-border: #ccc;
$input-border-radius: $radius-border;
$input-border-focus: $color-base-font;
$input-placeholder: $color-base-font-muted;
$input-label-color: $color-base-font-muted;

.form {
  input[type='text'],
  input[type='search'],
  input[type='email'],
  input[type='url'],
  textarea {
    padding: rem(8) rem(12);
    border-radius: $input-border-radius;
    border: solid 1px $input-border;
  }
}

.form-add-page {
  max-width: 30em;

  input,
  textarea {
    width: 100%;
  }

  p > label {
    // width: 10rem;
    display: inline-block;
    vertical-align: top;
    margin-bottom: rem(8);
  }
}

.helptext {
  color: $input-label-color;
}

.errorlist {
  list-style: none;
  padding-inline-start: rem(0);
  margin-bottom: rem(8);
  color: $color-error;

  + p {
    input,
    textarea {
      border: solid 1px $color-error !important;
    }
  }
}

.required label::after {
  content: '*';
  color: $color-error;
  padding-inline-start: rem(2);
}
