/* ============================================================================
  SVG icons
============================================================================== */

$spacing-icon: 0.25em;

.i {
  display: inline-block;
  width: rem(20);
  height: rem(20);
  background-size: cover;
}

.icon-text {
  > svg {
    vertical-align: middle;
    margin-top: rem(-2);
    margin-inline-end: $spacing-icon;

    &:last-child {
      margin-inline: $spacing-icon rem(0);
    }
  }
}

svg > use {
  fill: currentColor;
}

.i--black > use {
  fill: $color-base-font;
}

.i--white > use {
  fill: $color-base-font-invert;
}

.i--grey > use {
  fill: $color-light-text;
}

.i--teal > use {
  fill: $color-highlight;
}

.i--hover:hover > use,
a:hover .i--hover > use {
  fill: color.adjust($color-highlight, $lightness: -7%);
}

.i--no-fill > use {
  fill: none;
}

/* custom icon sizes */
.i--small {
  width: rem(16);
  height: rem(16);
}

.made-with-wagtail {
  @extend %inline-block;

  width: rem(205);
  height: rem(32);

  > use {
    fill: $color-base-font;
  }
}

.wagtail {
  @extend %inline-block;

  background-size: cover;
  width: rem(70);
  height: rem(22);
}

.springload,
.springload-dark {
  @extend %inline-block;

  background-size: cover;
  width: rem(93);
  height: rem(15);
}
