/* ============================================================================
  # Spacing
============================================================================== */

$padding-factor-small: 0.75;

$spacing-small: $spacing * $padding-factor-small;
$spacing-s-small: $spacing-s * $padding-factor-small;
$spacing-l-small: $spacing-l * $padding-factor-small;
$spacing-xl-small: $spacing-xl * $padding-factor-small;
$spacing-xxl-small: $spacing-xxl * $padding-factor-small;

%vertical-top {
  @include small {
    padding-top: $spacing-small;
  }
  padding-top: $spacing;
}
%vertical-bottom {
  @include small {
    padding-bottom: $spacing-small;
  }
  padding-bottom: $spacing;
}
%vertical {
  @extend %vertical-top;
  @extend %vertical-bottom;
}

%vertical-top-l {
  @include small {
    padding-top: $spacing-l-small;
  }
  padding-top: $spacing-l;
}

%vertical-bottom-l {
  @include small {
    padding-bottom: $spacing-l-small;
  }
  padding-bottom: $spacing-l;
}
%vertical-l {
  @extend %vertical-top-l;
  @extend %vertical-bottom-l;
}

%vertical-top-xl {
  @include small {
    padding-top: $spacing-xl-small;
  }
  padding-top: $spacing-xl;
}
%vertical-bottom-xl {
  @include small {
    padding-bottom: $spacing-xl-small;
  }
  padding-bottom: $spacing-xl;
}
%vertical-xl {
  @extend %vertical-top-xl;
  @extend %vertical-bottom-xl;
}

%vertical-top-xxl {
  @include small {
    padding-top: $spacing-xxl-small;
  }
  padding-top: $spacing-xxl;
}
%vertical-bottom-xxl {
  @include small {
    padding-bottom: $spacing-xxl-small;
  }
  padding-bottom: $spacing-xxl;
}
%vertical-xxl {
  @extend %vertical-top-xxl;
  @extend %vertical-bottom-xxl;
}

%vertical-top-s {
  @include small {
    padding-top: $spacing-s-small;
  }
  padding-top: $spacing-s;
}
%vertical-bottom-s {
  @include small {
    padding-bottom: $spacing-s-small;
  }
  padding-bottom: $spacing-s;
}
%vertical-s {
  @extend %vertical-top-s;
  @extend %vertical-bottom-s;
}

.vertical-bottom {
  @extend %vertical-bottom;
}

.vertical-top {
  @extend %vertical-top;
}

.vertical {
  @extend %vertical;
}

.vertical-bottom-l {
  @extend %vertical-bottom-l;
}

.vertical-top-l {
  @extend %vertical-top-l;
}

.vertical-l {
  @extend %vertical-l;
}

.vertical-bottom-xl {
  @extend %vertical-bottom-xl;
}

.vertical-top-xl {
  @extend %vertical-top-xl;
}

.vertical-xl {
  @extend %vertical-xl;
}

.vertical-bottom-xxl {
  @extend %vertical-bottom-xxl;
}

.vertical-top-xxl {
  @extend %vertical-top-xxl;
}

.vertical-xxl {
  @extend %vertical-xxl;
}

.vertical-bottom-s {
  @extend %vertical-bottom-s;
}

.vertical-top-s {
  @extend %vertical-top-s;
}

.vertical-s {
  @extend %vertical-s;
}
