.js .tags__additional {
  opacity: 0;
  transition: opacity 0.75s;

  &.tags__additional--show {
    opacity: 1;
  }
}

.tag__button {
  @include hover(background-color, transparent);
  @include hover(color, $color-base-link-hover);
  border: 0;
  background: none;
  font-size: rem(12);
  padding: rem(0);
  color: $color-base-link;

  &:hover {
    text-decoration: underline;
  }
}
